@font-face {
    font-family: 'MetricHPE_bold';
    src: url('./fonts/MetricHPE-Desktop-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'HelveticaNeueBd';
    src: url('./fonts/HelveticaNeueBd.otf') format('opentype');
}
@font-face {
    font-family: 'HelveticaNeueLt';
    src: url('/fonts/HelveticaNeueLt.otf') format('opentype');
}

.MetricHPE_bold {
    font-family: 'MetricHPE_bold', sans-serif;
}
.HelveticaNeueBd {
    font-family: 'HelveticaNeueBd', sans-serif;
}
.HelveticaNeueLt {
    font-family: 'HelveticaNeueLt', sans-serif;
}


.bg-side {
    position: fixed;
}

.navBar {
    background-color: #21314D;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 10rem !important ;
}